body {
    font-family: sans-serif;
}

main {
    margin: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 1em;
    row-gap: 2em;
}

.half {
    max-width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    align-content: flex-start;
    row-gap: 1em;
    column-gap: 1em;
}

.full {
    width: 100%;
}

#input-table-field {
    width: 100%;
}

#input-table, #computed-table {
    flex-grow: 1;
    border-collapse: collapse;
    th {
        font-weight: bold;
    }
    th, td {
        text-align: right;
        border: 1px solid lightgray;
        min-width: 5em;
        height: 1.2em;
        padding: 0.5em;
    }
    .input-value-invalid {
        box-shadow: inset 0 0 0 2px lightcoral;
    }
    .selected {
        box-shadow: inset 0 0 0 2px lightskyblue;
    }
}

.half:has(#input-table), .half:has(#computed-table) {
    position: relative;
    #column-adder {
        position: absolute;
        background-color: lightskyblue;
        border: 2px dotted white;
        font-weight: bolder;
        color: lightskyblue;
        cursor: pointer;
        height: 0.6em;
        width: 0.6em;
        margin-top: 0.25em;
        border-radius: 1.8em;
        line-height: 1.5ex;
        z-index: 10;
    }
}

#chart {
    flex-grow: 1;
}

#stats {
    math {
        display: block;
    }
}
